
* {
  box-sizing: border-box;
  margin: 0;
  // background-color: chartreuse;
}
body {
  // background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./lib/assets/sunny.jpg') no-repeat center center fixed;
  background-size: cover;
}
