
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: url('./lib/assets/sunny2.jpg');
  // background: url('./lib/assets/sunny.jpg') no-repeat center center fixed;
  background-size: cover;
}